<div class="flex items-center justify-center space-x-4 w-full">
  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= button_to omniauth_authorize_path(resource_name, provider), data: { turbo: false } do %>
        <%= image_tag("web_light_sq_SI@1x.png", alt: "Sign in with #{OmniAuth::Utils.camelize(provider)}") %>
      <% end %><br />
    <% end %>
  <% end %>
</div>
