<div class="min-h-full px-4 sm:px-6 lg:px-8">
  <div class="flex justify-center">
    <div class="w-full max-w-4xl pb-2">
      <div class="flex justify-between items-center">
        <h1 class="text-4xl font-semibold mb-4 text-center">Imported Files</h1>
        <div class="bg-gray-700 shadow-md rounded-lg p-4 mb-4">
          <%= link_to "New Import", new_transaction_import_path, class: "text-xl text-white font-semibold" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @transaction_imports.empty? %>
  <div class="flex items-between justify-center py-20 sm:px-6 lg:px-8">
    <div class="bg-white shadow-md rounded-lg p-8 mb-8 w-full max-w-4xl">
      <div class="text-3xl text-center">
        Nothing imported yet!
      </div>
    </div>
  </div>
<% else %>
  <div class="min-h-full flex items-center justify-center px-4 sm:px-6 lg:px-8">
    <div class="relative overflow-x-auto bg-white shadow-md rounded-lg p-4 mb-4 w-full max-w-4xl">
      <div class="overflow-x-auto mt-4">
        <%= render partial: "layouts/elements/table",
          locals: {
            collection: @transaction_imports,
            decorator: TransactionImportDecorator
          }
        %>
      </div>
    </div>
  </div>
<% end %>
