<div class="min-h-full px-4 sm:px-6 lg:px-8">
  <div class="flex justify-center">
    <div class="w-full max-w-4xl pb-8">
      <h1 class="text-4xl font-semibold mb-4 text-center">Dashboard</h1>
    </div>
  </div>
</div>
<div class="flex justify-center">
  <div class="w-full max-w-4xl">
    <div class="bg-white shadow-md rounded-lg p-4 mb-4">
      <div class="flex justify-between items-center">
        <div class="text-lg font-bold mr-4">Total All-time Income</div>
        <div><%= @all_time_total_income %></div>
      </div>
    </div>
    <div class="bg-white shadow-md rounded-lg p-4 mb-4">
      <div class="flex justify-between items-center">
        <div class="text-lg font-bold mr-4">Total Transactions</div>
        <div><%= @total_transactions %></div>
      </div>
    </div>
  </div>
</div>
